root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{md,yml,yaml,json,toml}]
indent_style = space
indent_size = 2

[*.{ts,tsx,js,jsx,css,scss}]
indent_style = space
indent_size = 2

[*.{cs,kt,kts,cpp,h,hpp,py}]
indent_style = space
indent_size = 4

[*.cs]
dotnet_diagnostic.CA1501.severity = error
dotnet_diagnostic.CA1502.severity = error
dotnet_diagnostic.CA1505.severity = error
dotnet_diagnostic.CA1506.severity = error
dotnet_diagnostic.CA1509.severity = error

[*.{sh,ps1}]
indent_style = space
indent_size = 2
