*.json -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
*.txt -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
build-final.log.txt whitespace=-blank-at-eof,cr-at-eol
